@media screen and (max-width: 600px) {
  .icon-bar {
    display: block;
    margin-top: 20px;
    margin-left: 15px;
  }
  .nav-item a {
    display: none;
  }
  .nav-image img {
    width: 40px;
    margin-left: 5px;
  }
  .banner-icon {
    flex-direction: column;
  }
  .banner-container {
    width: 100%;
  }
  .banner-title{
    font-size: 25px;
  }
  .banner-description{
    font-size: 12px;
  }
  .tours-secton{
    flex-direction: column;
  }
  .tours-section-title{
    font-size: 20px;
    padding: 10px;
  }
  .tours-section-text-ariya{
    width: 100%;
    padding: 10px;
    font-size: 10px;
  }
  .list-item li{
    width: 250px;
  }

  .tours-section-image-ariya img{
   width: 250px;
   height: 220px;
   margin-left: 10px;
  }
  .destination-title{
    font-size: 25px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .destination-description{
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .destination-img-gallary{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:12, 1fr;
    gap: 15px;
  }
  .Rectangle-5{
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
  }
  .Rectangle-8{
    grid-column: 1 / span 6;
    grid-row: 2 / span 1;
  }
  .Rectangle-6{
    grid-column: 1 / span 6;
    grid-row: 3 / span 1;
  }
  .Rectangle-7{
    grid-column: 1 / span 6 ;
    grid-row: 4 / span 1;
  }
  .Rectangle-9{
    grid-column: 1 / span 6 ;
    grid-row: 5 / span 1;

  }
  .Rectangle-11{
    grid-column: 1 / span 6;
    grid-row: 6 / span 1;
  }
  .Rectangle-10{
    grid-column: 1 / span 6;
    grid-row: 7 / span 1;
  }
}
